# Configurações do Servidor
PORT=3001
NODE_ENV=development

# Configurações do Banco de Dados SQLite
DB_PATH=./database.sqlite

# JWT Secret
JWT_SECRET=seu_secret_key_super_seguro_aqui_mude_em_producao
JWT_EXPIRES_IN=7d

# Administrador (Desabilita novos cadastros no App e permite bypass automático do Admin)
ADMIN_EMAIL=admin@finance.app
ADMIN_PASSWORD=admin_seguro_123
